
<!--
<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>App Control de Vacunas</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, illo delectus architecto eligendi atque laudantium! Corporis officia minima perferendis, architecto necessitatibus labore possimus assumenda delectus facilis impedit ipsam accusantium iusto?</p>
        </div>
        <div calss="col-sm-12 col-md-3 col-lg-3 offset-md-1 offfset-lg-1 parte2">
            <img src="../../../assets/appcontrol.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
-->

<div contenedor="" class="row">
    <div style="text-align:center;"><h1>Proyectos realizados</h1></div>  
    <div contenedor="" class="container">
        
        
        <div contenedor="" class="card" style="width: 30rem;">
            
            <img contenedor="" src="../../../assets/appcontrol.jpg" alt="..." class="card-img-top" id="appc">
            <div contenedor="" class="card-body"><h5 contenedor="" class="card-title">App Control de Vacunas</h5>
                <p contenedor="" class="card-text">Proyecto de control de vacunas elaborado para el Hospital San Miguel de Yuto con AppInventor y scaner de codigo de barras.</p>
                <!--<a contenedor="" href="" target="_blank" class="btn btn-primary">Ver</a>-->
            </div>
        </div>
        <div contenedor="" class="card" style="width: 30rem;">
            <img contenedor="" src="../../../assets/voto.jpg" alt="..." class="card-img-top">
            <div contenedor="" class="card-body">
                <h5 contenedor="" class="card-title">Voto Electronico</h5>
                <p contenedor="" class="card-text">Proyecto de Voto Electronico elborado para el Colegio Nº5 de Yuto a trávez del lenguaje visual Basic 6.0 utilizando las netbooks de conectar igualdad</p>
            <!--<a contenedor="" href="" target="_blank" class="btn btn-primary">Ver</a>-->
            </div>
        </div>
    </div>
</div>
