element.style {
    width: 30rem;

}
.card[contenedor] {
    width: 500px;
    border: 2px solid #333233;
    border-radius: 30px;
    padding: 30px;
    margin: 40px;
    background-color: #e7af078e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: .3s;
}
.container[contenedor] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    background: rgb(206, 207, 207);
}
.card-img-top[contenedor] {
    box-shadow: 10px 10px 30px #000;
    filter: grayscale(0);
    border-radius: 30px;
    margin: auto;
    width: 50%;
    height: auto;
}
    