.imagen-fondo{
    background-image: url("../../../assets/banner.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 30em;
    /*max-width: 100%;
    width: 3200px;  /* asume que este es el tamaño por defecto 
    object-fit: cover;
    object-position: bottom */

}
@media (min-width: 376px){
    #imagen-fondo{
        position: absolute;
        width: 12%;
    }
}
@media (max-width: 376px){
    #imagen-fondo{
        position: absolute;
        width: 25%;
    }
}