<div class="row">
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpeg" class="img-fluid" id="fotodeperfil">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}} Salvatierra David</p>
    <p style="text-align: center;"><b>Full Stack Developer Jr</b> </p>
 </div>
 
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
       <h3 id="descripcion" style="color: #0e104b;" >Acerca de mi</h3>
       <p id= "descripcion" style="color: #0b0c11;">Profesor en Tecnología con mas de 10 años de experciencia en el campo, fui técnico de conectar igualdad y realice diferentes cursos y posgrados de #programación y seguridad  informática actualmente me dedico a la docencia y sigo especializandome en programción</p>
      </span>
 </div>
</div>