<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Profesor en Tecnología</h2> 
                <h4>(Año 2022)</h4>
            </li>
            <p>
                Profesor en Tecnología en el Colegio Secundario Nº 27 el Bananal - Jujuy (desde 2022 hasta contunua) 
            </p>
        </ul>
        <ul>
            <li>
                <h2>Administrativo - Informático</h2>  
                <h4>(Año 2021)</h4>
            </li>
            <p>
                Adiministrativo con funciones de referente tecnico informatico en el Hospital San Miguel -Yuto Jujuy (desde 2021 hasta continua).
            </p>
        </ul>
        <ul>
            <li>
                <h2>Técnico de Conectar Igualdad</h2> 
                <h4>(Año 2016)</h4>
            </li>
            <p>
                Referente Técnico Escolar de Conectar Igualdad en colegios secundarios region V ramal (año 2013 hasta 2020).
            </p>
        </ul>        
    </div>
</div>