.row{
    padding: 20px;
}

/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 12%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(93, 93, 98);
        left: 3%;
        top: 462px;
    }
}
@media (max-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(93, 93, 98);
        left: 38%;
        top: 520px;
    }
}
#nombre{
    font-weight: bold;
    margin-top: 16%;
    margin-left: 10px;
    margin-right: 5px;
    text-align:center;
    
}
div{
    background: rgb(205, 205, 206);
    
}

#descripcion{
    margin-left: 30px;
    margin-right: 30px;
    
    
}