<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Se Programar</h2>
                <h4>(Año 2022)</h4>
            </li>
            <p>
                Argentina Programa “Se Programar” INTI Ministerio de Economía Arg. 2022.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Programación Digital Educativa</h2>
                <h4>(Año 2020)</h4>
            </li>
            <p>
                Espec. Superior en Programación Digital Educativa UNSE 2020.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Hacking Ético</h2>
                <h4>(Año 2019)</h4>
            </li>
            <p>
                Experto Universitario en  Hacking Ético: F. Regional Buenos Aires. UTN 2019.
            </p>
        </ul>        
    </div>
</div>
